[2018-08-11 06:43] gamesbook opened #269 "Suggestion: patch to support Django 1.6"
_All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/digi604/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous versions have been removed from PyPI to prevent users from installing insecure versions. All users are urged to upgrade as soon as possible._

I have to support an older

[2018-08-13 12:30] zxh326 commented on #268
I have the same problem with this version.

and console pint this error
`Uncaught ReferenceError: chainedfk is not defined`

[2018-08-24 07:25] nameisnot opened #275 "Dependent field "country" value blank on drop down"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/digi604/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous versi

[2018-08-24 07:31] nameisnot commented on #275
Addendum:
Using:

Python 3.6
Django 2.0.6
smart-selects 1.5.4

[2018-08-28 06:50] nameisnot commented on #275
Problem solved (on Admin).
What I did:

1. Ran python3 manage.py collectstatic (from projects folder)

2. Upgraded js-unlinting-fixes by running pip3 install --upgrade git+https://github.com/digi604/django-smart-selects.git@js-unlinting-fixes.

Note: I had missed the Step 1 first so even after installing the fix, the results was the same (no secondary key value)

3. Refreshed browser cache.

PS. I

[2018-08-28 06:51] #275 closed

[2018-08-29 01:18] richard-reece commented on #253
Just ran into this and https://github.com/digi604/django-smart-selects.git@js-unlinting-fixes solved the issue for me, thanks @blag !

[2018-08-29 11:13] nameisnot opened #276 "No value displayed in dependent field on "Add" row in Admin Inline"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/digi604/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous versi

[2018-08-30 05:45] nameisnot commented on #193
I am facing the same issue on smart-selects 1.5.4 / Django 2.0.6 / Py 3.6 (see https://github.com/digi604/django-smart-selects/issues/276).

Is the issue sorted out yet?

[2018-09-02 06:59] nameisnot commented on #116
@AmiNadim Thanks to your suggestions it's now working in **templates too**. But facing one problem. The **Admin** pages behave correctly even when "**off-line**" (i.e. the dependent field values correctly appear on drop down). But with templates, (in off-line mode) there are no values on drop down, even as the **parent field values are appearing and are selected**.

What am I missing?

**A thought

[2018-09-16 11:16] rakhmetzhanat commented on #268
Also, I have the same problem with this version.

[2018-09-17 05:04] maldhureakshay commented on #232
https://stackoverflow.com/a/52361037/3472881

[2018-09-22 15:13] ishakoktn commented on #253
On version 1.5.4 have same problem as developer2806's. I turned 1.5.3 and it works.

[2018-10-08 02:37] suikocen commented on #253
Worked on Firefox, but not on Chrome?

[2018-10-08 05:29] Kuhaneswaran commented on #253
I have the same issue with @suikocen. Smart select works on Firefox but not Chrome.

[2018-10-08 22:33] ferminarellano commented on #253
js-unlinting-fixes branch fixes the issue for me. Thank you! Make sure to use the --upgrade flag when running the pip instruction and then run the collectstatic script. Using Django 1.11

[2018-10-09 06:14] suikocen commented on #253
Okay, after getting the code from js-unlinting-fixes branch and clearing the browsing history, it works!
Thank you!

[2018-10-17 07:48] itsvks opened #277 "Getting Issue with Django==2.1.2"
I have followed given documents, However I am getting error while I am trying to load add location page

Internal Server Error: /admin/api/location/add/
Traceback (most recent call last):
  File "/home/vikas/development/.venv/dependent/lib/python3.6/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/home/vikas/development/.venv/depende

[2018-10-29 18:41] timthelion opened #278 "RemovedInDjango21Warning"
`RemovedInDjango21Warning: Add the `renderer` argument to the render() method of <class 'smart_selects.widgets.ChainedSelect'>. It will be mandatory in Django 2.1. [boundfield.py:36]`

Changes need to be made here:

https://github.com/digi604/django-smart-selects/blob/master/smart_selects/widgets.py#L217

And here:

https://github.com/digi604/django-smart-selects/blob/master/smart_selects/widgets.

[2018-11-05 22:01] gb119 commented on #268
I think this is being caused by the     "use strict"; at the start of chainedfk.js. Also to get this working in Django 2.1.x you need to edit widget.py to add remderer=None in all def render(....): function defintitions and renderer=renderer in the corresponding super() calls. Contributor map711 seems to have the former fix in place, but not the latter.

[2018-12-09 08:43] gamesbook commented on #269
The code that is needed is as follows:
[code]
and this should replace the first import of `JsonResponse` in `smart_selects/views.py`

[2019-01-08 09:16] vishwa8545 opened #279 "Not working in production"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/digi604/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous versi

[2019-01-17 14:09] walleza commented on #237
I have been facing the same problem since last year, any idea about this?

[2019-02-15 08:17] Kras4ooo commented on #253
Hey @digi604 Could you merge this branch: `js-unlinting-fixes` it works well on Django 2.1.7 too.

Thanks in advance!

[2019-02-15 08:52] abedyngash commented on #214
I've tried the above mentioned solution but it ain't working either

[2019-05-21 21:48] eriktelepovsky commented on #258
+1

[2019-05-31 11:22] abhinavcode commented on #277
Use this USE_DJANGO_JQUERY = True instead of JQUERY_URL = True

[2019-07-09 10:01] iserranoe commented on #275
Thank you for the solution!! I really would have never managed to do it on my own. Just a question to try to understand the solution: why "python manage.py collectstatic" solves everything?

[2019-12-03 21:58] jazzband-bot opened #286 "Implement Jazzband guidelines for django-smart-selects"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-smart-selects](https://github.com/jazzband/django-smart-selects)

It was initiated by @digi604 who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel

[2019-12-03 22:08] jezdez commented on #286
I've added an unusual item to the TODO list above: since the project doesn't have a Sphinx setup at the moment, this will have to be done in retrospect.

[2019-12-04 06:10] manelclos commented on #286
@jezdez can anyone open PRs to fix items in the TODO list?

[2019-12-04 08:03] jezdez commented on #286
@manelclos Any member of Jazzband, so as long as you've joined on jazzband.co you're good.

[2019-12-04 08:06] jezdez commented on #286
@digi604 Please let me know if you have any questions.

[2019-12-13 09:20] jezdez commented on #286
@digi604 Hey, please respond.

[2019-12-13 09:26] jezdez commented on #286
To reiterate what I said over in https://github.com/jazzband/django-smart-selects/commit/05dcc4a3de2874499ff3b9a3dfac5c623206e3e5#commitcomment-36254287

You should note that I **will delete repos** that are adopting the guidelines and solve the TODO list above. Since you have transferred the repo without prior check I'm eager for someone to get back to me when this will be done.

/cc  @manelclos

[2019-12-13 09:28] jezdez commented on #286
The deadline for deletion is 1 week from writing this message.

[2019-12-13 10:06] digi604 commented on #286
jazzband was added to pypi

[2019-12-13 10:08] digi604 commented on #286
But i will not write some docs or setup sphinx. People begged me to hand this over to jazzband. So i did... but further maintenance is currently not possible.

[2019-12-13 10:27] jezdez commented on #286
Thanks @digi604, could you please be more specific who asked you to move it to Jazzband?

It's fair to ask them to port the docs to Sphinx.

[2019-12-13 10:59] manelclos commented on #286
Hi @digi604, thanks a lot for adding jazzband to pypi, I think that was the last detail we cannot handle.

@jezdez I'll take on those tasks, and if @blag want to help he is more than welcome.

I'll take on "Add Sphinx project and move current docs to it".

Thank you all!

[2019-12-13 11:01] manelclos commented on #286
BTW, here is the conversation about moving the project to jazzband: https://github.com/jazzband/django-smart-selects/commit/05dcc4a3de2874499ff3b9a3dfac5c623206e3e5

[2019-12-17 15:07] jezdez commented on #286
Thanks @manelclos!

[2019-12-18 17:52] manelclos commented on #286
@jezdez there is now a [PR](https://github.com/jazzband/django-smart-selects/pull/288) for adding sphinx to the project. I moved current documentation from `README.md` and used a markdown plugin, hope that is ok. All sphinx files copied from `django-axes` to follow Jazzband style.

[2019-12-26 03:53] err0or404 commented on #22
how

[2019-12-27 21:21] manelclos commented on #279
Closing old issue, no activity.

[2019-12-27 21:21] #279 closed

[2019-12-27 21:26] manelclos commented on #278
Hi @timthelion, tried with latest 2.0 and did not see the warning. Tried with 2.1 and it worked. Can you please add more information to this issue?

[2019-12-27 21:27] manelclos commented on #277
Closing old issue, no activity. Please reopen if necessary.

[2019-12-27 21:27] #277 closed

[2019-12-27 21:28] manelclos commented on #269
Closing old issue, no activity. Please reopen if necessary.

[2019-12-27 21:28] #269 closed

[2019-12-30 12:09] Taher5253 commented on #253
Uncaught ReferenceError: chainedm2m is not defined
    at initItem (bindfields.js:14)
    at HTMLSelectElement.<anonymous> (bindfields.js:25)
    at Function.each (jquery.min.js:2)
    at bindfields.js:24
    at dispatch (jquery.min.js:3)
    at r.handle (jquery.min.js:3)

Getting this error on **ChainedManyToManyField**

How can i resolve this

[2019-12-31 02:00] JoveCat commented on #237
Facing the same issue while editing. I'm using ChainedForeignKey. when add new, it works fine, but while editing, it shows empty value.
Any fixes for this please?

[2020-01-05 16:20] kciredor commented on #253
I'm giving up on this package. Anyone got a proper alternative?

[2020-01-08 23:32] matthewjennings73 opened #292 "Multiple chained selects being cleared out after page refresh. Only first one in chain retains value."
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2020-01-09 13:06] matthewjennings73 commented on #292
Basically it loads all the dropdowns from the database during the reload and you can actually see them for a second.  Then Country through City get returned to their initial empty_label values.  If you use Inspection on those dropdowns they do show the correct values.  In the form above, Region is simply a foreignkey field that serves as the start of the chaining that begins with subregion through

[2020-01-09 13:16] matthewjennings73 commented on #292
Their 'data-value' tags are set correctly for each dropdown (when using Chrome inspect) , but what shows is the empty-value.  I've also noticed that when I removed the ajax script for jquery.min.js they all load as expected, but then the triggers obviously don't work and then django-smart-selects functionality doesn't work.  I've tried several different version of 'jquery.min.js' and all have the

[2020-01-09 13:18] matthewjennings73 commented on #292
Here are my models:

`class LocationRegion(models.Model):
    name = models.CharField(max_length=255, null=False, help_text='Please enter the region name')

    class Meta:
        managed = False
        db_table = 'location_region'

    def __str__(self):
        return str(self.name)

class LocationSubregion(models.Model):
    name = models.CharField(max_length=255, null=False, help_text='Pleas

[2020-01-09 13:24] matthewjennings73 commented on #292
Here is my url.py patterns:

[code]

And here are my scripts for my Base file:
[code]

[2020-01-13 02:09] xhaxhi opened #293 "django smart selects on Django version 3.0.1 - error ImportError: cannot import name 'six' from 'django.utils'"
0

Installed django-smart-selects (pip install django-smart-selects) and is not working on django version 3.0.1

I configured using the official installation guide.

[code]

Snippets of code

models.py

[code]

settings.py

[code]

[2020-01-15 20:05] manelclos commented on #293
Thanks @xhaxhi, I'd say this is already fixed in this PR: https://github.com/jazzband/django-smart-selects/pull/290

Maybe you want to try it out.

[2020-01-15 20:08] manelclos commented on #286
@jezdez if there is anything I can do to move this further, please let me know.

[2020-01-16 04:57] emilyzzz commented on #258
I installed "JS Lint branch" using ```pip install git+https://github.com/jazzband/django-smart-selects.git@js-unlinting-fixes```, now smart selects works in my Admin page

[2020-01-28 19:43] xhaxhi commented on #293
This is the wrong place to ask but how come there in not a single piece of documentation on ChainedModelChoiceField ? how are we supposed to use this on templates?

[2020-01-28 19:56] manelclos commented on #293
@xhaxhi well yes, your question is about a different issue. Anyway, `ChainedModelChoiceField` is a form field, it is used automatically when you define a `ChainedForeignKey`, documentation for `ChainedForeignKey` is on the [README.md](https://github.com/jazzband/django-smart-selects/blob/master/README.md) file.

Please open a different issue if you need more help on this. Also, please explain what

[2020-01-28 20:01] xhaxhi commented on #293
I installed it on Django 2.2.9 with no issues and I am assuming its not compatible with Django 3 yet. Works perfectly on the admin with the documentation provided  but I cant get it to work on forms.py since there is no documentation :(

[2020-01-28 23:03] xhaxhi commented on #184
Is there any documentation regarding ChainedModelChoiceField struggling to find a solution

[2020-01-29 02:19] xhaxhi commented on #293
I finally figured it and it works for Django 2.2.9!!
In order to use it in forms i took the following steps :
1) go to file venv/lib/python3.7/site-packages/django/forms/boundfield.py
2) go to line 93 and comment out
# renderer=self.form.renderer,

Btw what is the official Django release supported by the latest version of smart selects 1.5.4?

[2020-01-29 06:36] manelclos commented on #286
@jezdez ping

[2020-02-06 04:23] matthewjennings73 commented on #292
Is anyone monitoring questions here...curious why this is getting ignored?

[2020-02-06 06:00] manelclos commented on #292
@matthewjennings73 the package is being transitioned to jazzband, and that is taking time. I did some work to fix it so it works for us, here: https://github.com/jazzband/django-smart-selects/commits/issue-253-chainedfk-is-not-defined

Please let me know if you try that branch.

[2020-02-06 13:14] matthewjennings73 commented on #292
Great thanks for the reply.  Will give it a go and let you know!

[2020-02-06 13:59] matthewjennings73 commented on #292
Yeah I tried that and still getting same behavior.

[2020-02-06 15:23] matthewjennings73 commented on #292
Are there any example of multiple chained selects using this package?  Like I said, the first one works, but then then everything after doesn't seem to repopulate?

[2020-02-07 12:12] #293 closed

[2020-02-07 12:25] manelclos commented on #292
Hi @matthewjennings73,

I added another chained select to `Location` in the `test_app` and it works ok here. You can check the changes on the same `issue-253` branch.

Please check that you are not running into browser cache issues when trying `issue-253` branch.

You can try the `test_app` example using:
[code]

Then login with admin/admin at http://127.0.0.1:8000/admin/

![image](https://user-im

[2020-02-09 21:28] xhaxhi commented on #236
self.fields['category'].empty_label = 'SELECT CATEGORY' <--- works
self.fields['subcategory'].empty_label = 'SELECT CATEGORY' <--- Does not work

any solutions to this?

[2020-02-10 18:13] matthewjennings73 commented on #292
Checking to see if this will resolve my issues.

[2020-02-13 03:29] matthewjennings73 commented on #292
Still not solving my issues.  My selections still appear and then disappear during the refresh of the change_form.  It seems like there is something in jquery that is causing this.  I have tried so many things to correct this, but it doesn't seem to fix the issue....very happy to donate to the development of this to get this working!

[2020-02-24 12:00] manelclos commented on #292
@matthewjennings73 isn't the test app working for you?

[2020-03-26 03:38] shishinanliao commented on #292
I also have this problem. It's not normal in chrome, but it's good in safari

[2020-03-26 06:01] manelclos commented on #292
@shishinanliao did you try the test described in this issue?

[2020-03-27 04:45] shishinanliao commented on #292
Yes, I have

[2020-04-04 12:01] ccsv opened #295 "Django 3 issue importing six"
----------------
Simple issue Django 3.0+ moved six out of  django.utils can we replace lines like

*  `from django.utils import six` to `import six` in `db_fields.py`
*  `from django.utils.six import iteritems` to  `from six import iteritems`  in `views.py`

Not sure if this solution causes any compatibility issues with previous versions.

## Steps to reproduce

1. Install django 3.0 and smart se

[2020-04-05 03:15] ccsv commented on #295
As mentioned above changing the import statements will fix the issue. But I am not sure if it will interfere with any other issues.

[2020-04-17 12:11] contorasebastian commented on #237
Can confirm this aswell, 3 level (country-state-city) will cause a problem on last level, i can see the value selected for 1 second and after it resets to empt, this happens only in edit

[2020-04-26 13:45] manelclos commented on #292
Can someone reproduce the problem using the test app provided in django-smart-selects?

[2020-04-26 14:43] manelclos commented on #295
@ccsv this was fixed here https://github.com/jazzband/django-smart-selects/commit/c1082d91265e1809ca44ee45a65da3d457896396

Thanks for reporting. Please reopen if necessary.

[2020-04-26 14:43] #295 closed

[2020-04-26 15:00] manelclos commented on #292
I just tested Django 3.0 and this works as expected in the test app (http://localhost:9000/admin/test_app/location/1/change/).

Could you please add more details? is the console showing any Javascript error?

[2020-04-26 15:08] manelclos commented on #286
@jezdez it would be great to finish this, currently the README.md file points to Readthedocs but the link is broken. I've merged all PRs so master has the latest code, and in the way of taking care of PRs.

[2020-04-26 15:12] manelclos commented on #278
@timthelion this has been fixed in https://github.com/jazzband/django-smart-selects/commit/6c00a6b54aeabce771218c07006cca156b3b06e2

[2020-04-26 15:12] #278 closed

[2020-04-26 15:14] manelclos commented on #276
@nameisnot can you reproduce with latest master version?

[2020-04-26 15:15] manelclos commented on #268
@leo493852107  can you reproduce with latest master version?

[2020-04-26 15:17] manelclos commented on #262
@ofathy can you reproduce with latest master version?

[2020-04-26 15:20] manelclos commented on #261
@cookieofcode is this still happening with the latest master version?

[2020-04-26 15:21] manelclos commented on #249
No feedback, closing.

[2020-04-26 15:21] #249 closed

[2020-04-26 15:21] manelclos commented on #241
No feedback, closing.

[2020-04-26 15:21] #241 closed

[2020-04-26 15:23] manelclos commented on #237
can people on this issue check if this is still happening in the latest master version?

[2020-04-26 15:23] manelclos commented on #236
@mpena2099 can you reproduce with latest master version?

[2020-04-26 15:27] manelclos commented on #231
@josefnorlin can you reproduce with latest master version?

[2020-04-26 15:27] manelclos commented on #228
@eduardocesar can you reproduce with latest master version?

[2020-04-26 15:28] manelclos commented on #227
@davmlaw can you reproduce with latest master version?

[2020-04-26 15:29] manelclos commented on #219
@davmlaw this should be fixed in latest master version, can you please test?

[2020-04-26 15:29] cookieofcode commented on #261
@manelclos Thanks for asking. I can't check as I have no longer access to the project.

[2020-04-26 15:30] manelclos commented on #214
@bgarcial can you reproduce with latest master version?

[2020-04-26 17:05] #261 closed

[2020-04-27 17:53] matthewjennings73 commented on #292
Upgraded to Django 3.0 and added the changes from above and still same behavior and no erros in javascript in console in google inspection.

[2020-04-27 17:55] matthewjennings73 commented on #292
I am getting this now in conosle in pycharm which shows me the right data is getting to each field...it's just somehow being set back to blank...

[code]

[2020-04-27 18:02] matthewjennings73 commented on #292
So it worked in Explorer but not in chrome now?  Same as @shishinanliao.  ANy ideas how to fix that?

[2020-04-27 19:19] matthewjennings73 commented on #292
Okay so after clearing out passwords autofill, etc. from Google Chrome settings, it now is acting as expected.  Thanks for the assistance and letting me know how to get to a solution!

[2020-04-27 19:19] #292 closed

[2020-04-27 19:20] matthewjennings73 commented on #292
A lot of time and effort from all involved here so thanks.  Now working by upgrading to Django 3.0.  Specail thanks to @manelclos and @shishinanliao!

[2020-04-28 16:41] leibowitz opened #299 "Uncaught ReferenceError: node is not defined when using horizontal=True"
## Checklist

- [x] This issue is not about installing previous versions of django-smart-selects older than 1.2.8. I understand that previous versions are insecure and will not receive any support whatsoever.
- [x] I have verified that that issue exists against the `master` branch of django-smart-selects.
- [x] I have searched for similar issues in both open and closed tickets and cannot find a du

[2020-04-28 16:49] leibowitz commented on #299
It seems to be because it's using [strict mode](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode) and the variable node has not been defined

[2020-04-29 16:32] #265 closed

[2020-05-03 21:37] gianluigiruggeri opened #302 "ImportError: cannot import name 'six' from 'django.utils'"
Using last version I have the same issues as reported [here](https://stackoverflow.com/questions/59709646/django-smart-selects-on-django-version-3-0-1-error-importerror-cannot-import)

Is there a way to avoid this as code-fix?

[2020-05-04 05:20] manelclos commented on #302
@gianluigiruggeri install from master branch:
[code]

[2020-05-05 17:29] Norserium commented on #253
If you are out there, if anyone is out there, there is solution of this problem.

The problem appeared in `1.5.4`. In this [commit](https://github.com/jazzband/django-smart-selects/commit/c1aeb13b9580eced652e6f0e8d5d2af6e634126d#diff-2db4cbf4011896a2ddd0a03b4e6b8ad7), to be exact.

I suppose, that @blag add `"use strict";` line to correspond linter rules. Then he noticed, that it produces error `R

[2020-05-05 17:31] Norserium commented on #253
@manelclos you've closed the issue too early. Could you release a new version in PyPi? The most of users uses this package manager to install libraries for Python.

[2020-05-06 06:40] manelclos commented on #253
@Norserium no problem in reopening if this is still a problem. Did you reproduce using master branch?

[2020-05-06 06:41] manelclos commented on #286
Hi @digi604, it seems Jazzband itself is suffering the problem it tried to prevent. Could you please add me to pypi while Jazzband chatches up on this?

Thanks!

[2020-05-06 07:16] digi604 commented on #286
added manelclos as a maintainer

[2020-05-06 08:20] Norserium commented on #253
@maneclos, you misunderstood me. The problem is in the last version of package in PyPi `1.5.4`. I suppose it's needed to publish new version with the last updates, because users will still encounter this problem in the future.

[2020-05-06 08:29] manelclos commented on #253
@Norserium I've got access to pypi now, I'll release ASAP

[2020-05-06 08:49] Norserium commented on #253
@manelclos, just for your information I've installed the package from the repository (master branch). This error is not reproducing now (and it shouldn't according to the last changes).

[2020-05-07 00:18] davmlaw commented on #227
Sorry, I use Django autocomplete light now, so can't easily test this. Feel free to close if you think it's fixed.

[2020-05-07 00:19] davmlaw commented on #219
Sorry, I use Django autocomplete light now, so can't easily test this. Feel free to close if you think it's fixed.

[2020-05-09 13:18] knyghty opened #303 "Documentation link is broken"
The link to the docs in the readme is broken: https://django-smart-selects.readthedocs.io/

[2020-05-11 05:28] JudiPuak commented on #302
hi manelclos

i can see that in the github repo, the db_fields.py is already updated
from this:
```from django.utils import six```
to this:
```import six```

however, when i run pip install --upgrade django-smart-selects, it says:  requirement already up-to-date <1.5.4>
and yet my db_fields.py still says:
```from django.utils import six```

then i created a new virtual env and ran pip install djan

[2020-05-12 18:03] manelclos commented on #303
@knyghty fixed now: https://django-smart-selects.readthedocs.io/en/latest/

[2020-05-12 18:03] #303 closed

[2020-05-12 19:52] manelclos commented on #302
@JudiPuak a new release is out: https://pypi.org/project/django-smart-selects/

Can you please try it out and let me know how it works?

[2020-05-22 06:08] JudiPuak commented on #302
hi manelclos:

i just did a pip install django-smart-selects==1.5.6
and yes, the db_fields.py says:
[code]
thank you so much
jud

[2020-05-22 07:11] manelclos commented on #302
great, closing this issue.

[2020-05-22 07:11] #302 closed

[2020-06-07 14:30] jezdez commented on #286
Hey friends, I can't add the needed webhook on the ReadTheDocs side since the `jazzband-bot` user wasn't added to the Readthedocs project on https://readthedocs.org/dashboard/django-smart-selects/users/. @manelclos @digi604 Can you please fix that?

Have you decided who should be the project lead for this project?

[2020-06-07 15:54] manelclos commented on #286
@jezdez `jazzband-bot` is now added to Readthedocs. I can be the project lead until-if @digi604 wants to take over, as he [stated](https://github.com/jazzband/django-smart-selects/issues/286#issuecomment-565382054) he can't currently maintain the project.

[2020-07-06 19:33] roszczypalam commented on #237
@manelclos I can confirm that bug still occurs on newest master

[2020-07-07 05:06] manelclos commented on #237
@roszczypalam can you please check the test app and describe how to reproduce?

[2020-07-20 16:46] Lorac commented on #237
We have the same issue, with the foreign key I have tracked it down to this:

1. Init function is called with `init_value=1`
2. Choose correctly the option
3. `$(chainfield).change(function () {` is called
4. but now the initial value is `start_value="1"`. It will not work when you `===` with the initial value of `1` because they are a different type.
5. It selects nothing.

[2020-08-10 22:27] amd77 commented on #237
I've tried this pull request #306 which replaces === with ==  and seems to work. 👏

[2020-08-17 10:36] prodigel commented on #237
@amd77 I can confirm that the PR was made to fix the empty 3+ chains of smart selects bug.

[2020-08-17 13:18] #299 closed

[2020-08-17 13:44] manelclos commented on #276
Closing due to inactivity

[2020-08-17 13:44] #276 closed

[2020-08-17 13:45] manelclos commented on #268
Closing due to inactivity

[2020-08-17 13:45] #268 closed

[2020-08-17 13:45] manelclos commented on #262
Closing due to inactivity

[2020-08-17 13:45] #262 closed

[2020-08-17 13:46] manelclos commented on #253
Closing as it works on latest release.

[2020-08-17 13:46] #253 closed

[2020-08-17 14:01] manelclos commented on #236
Closing due to inactivity

[2020-08-17 14:01] #236 closed

[2020-08-17 14:01] manelclos commented on #231
Closing due to inactivity

[2020-08-17 14:01] #231 closed

[2020-08-17 15:50] manelclos commented on #237
Version [1.5.8](https://pypi.org/project/django-smart-selects/1.5.8/) which includes #306 is out

[2020-08-18 04:50] manelclos commented on #228
@eduardocesar I can confirm this problem, but when trying to fix it I found it is not a one-liner, so this would have to wait until a major release.

[2020-08-18 04:53] manelclos commented on #221
@vs06 there are several inlines in the test-app that are working correctly. Wee need more details on how to reproduce, ideally using the test-app. And algo the JSON response would help here.

[2020-08-18 05:13] manelclos commented on #197
This seems to be fixed. Please reopen if necessary.

[2020-08-18 05:13] #197 closed

[2020-08-18 05:16] manelclos commented on #219
ok, closing, thanks!

[2020-08-18 05:16] #219 closed

[2020-08-18 05:17] manelclos commented on #214
Closing due to inactivity.

[2020-08-18 05:17] #214 closed

[2020-08-18 05:19] manelclos commented on #163
Closing due to inactivity.

[2020-08-18 05:19] #163 closed

[2020-08-18 05:19] manelclos commented on #92
Closing due to inactivity.

[2020-08-18 05:19] #92 closed

[2020-08-18 05:21] manelclos commented on #56
Anyone having this issue, please test with latest release, thanks!

[2020-08-18 05:21] manelclos commented on #210
Closing due to inactivity.

[2020-08-18 05:21] #210 closed

[2020-08-18 05:23] manelclos commented on #81
This is out of scope until someone decides to implement it. Closing.

[2020-08-18 05:23] #81 closed

[2020-08-18 05:25] manelclos commented on #184
Please anyone having this issue test again with latest release and report, thanks.

[2020-08-18 05:27] manelclos commented on #212
Please test with latest release and report back if this is still an issue, thanks!

[2020-08-19 05:21] d9pouces opened #308 "Support Django 3.1"
## Checklist

<sup><sup>Put an `x` in the bracket when you have completed each task, like this: `[x]`</sup></sup>

- [X] This issue is not about installing previous versions of django-smart-selects older than 1.2.8. I understand that previous versions are insecure and will not receive any support whatsoever.
- [X] I have verified that that issue exists against the `master` branch of django-smart-s

[2020-08-19 05:53] manelclos commented on #308
@d9pouces great! thanks to checking and taking the time to report it. Will you send a PR?

[2020-08-20 05:28] manelclos commented on #308
Fixed in https://github.com/jazzband/django-smart-selects/pull/309

[2020-08-20 05:28] #308 closed

[2020-08-20 15:45] SilverFoxA opened #310 "ChainedForeignKey should also provide an option by means of which we can target a specific field"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2020-08-20 18:05] manelclos commented on #310
Hi @SilverFoxA,

We had the same problem when trying to convert a Foreign Key using [to_field](https://docs.djangoproject.com/en/3.1/ref/models/fields/#django.db.models.ForeignKey.to_field) option, which smart selects does not support.

I'm marking this as a feature request.

[2020-08-20 18:13] SilverFoxA commented on #310
Hello @manelclos,

Have you found any workaround yet? I'm trying to debug but failed to see any request log on the console/network.

[2020-08-21 05:37] manelclos commented on #310
@SilverFoxA after looking carefully at your example, I think that what smart selects needs to implement is following relationships in the chained field, in your case that would be something like:

[code]

That would be an `Option` model which is a parent of `OptionValue`. Unfortunately I don't know how difficult this would be to implement.

As a workaround, I think you would be successful by addin

[2020-08-21 05:44] SilverFoxA commented on #310
@manelclos Thank you for your prompt response. I would suggest we look at an approach similar to what you have suggested

`chained_field="product_option_id__option_id",`

The other workaround which you have pointed is something we want to ignore, for now we are going for a quickfix with the `formset js`, as I have limited time. Hoping to contribute on this issue soon.

[2020-08-27 20:06] mbucknell commented on #308
I just tried to install django-smart-selects from pypi using pip and it is still requiring Django < 3.1

[2020-08-28 05:05] manelclos commented on #237
@jbnance can you please confirm version 1.5.8 fixes your problem?

[2020-08-28 05:29] manelclos commented on #308
Version [1.5.9](https://pypi.org/project/django-smart-selects/1.5.9/) which includes #309 is out

[2020-08-28 14:07] jbnance commented on #237
Sorry, but I had to remove Smart Selects from our code base.  No offense intended to anyone involved - it is a great idea and when it worked it was awesome - I just needed something with a more responsive community.

[2020-08-28 14:09] manelclos commented on #237
@jbnance no problem, community projects have ups and downs. You are welcome back anytime.

[2020-08-28 14:09] #237 closed

[2020-09-29 15:05] kaushal235 commented on #159
Yes, much needed this feature.
For now workaround

1. Write custom field which inherit the ChainedManyToManyField

[code]
2.
[code]
3. write custom manager
[code]
4. In destination Model
[code]

Done!

[2020-09-30 19:33] amiroff opened #315 "Docs do not contain any details on usage in templates (PR available)"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2020-10-02 09:16] jezdez commented on #286
Fixed in ab3fd1bd13c2302ce4f847d73f38aba59fc1ff78.

[2020-10-02 09:16] #286 closed

[2020-10-07 15:14] luishenriquesb opened #316 "Creating something like MultipleChainedForeignKey to allow multiple chained fields for an same ForeignKey Field"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2020-10-29 06:58] Tsutomu-Ikeda commented on #228
@manelclos

I think this bug can be resolved by fixing one-line.

[code]

https://github.com/jazzband/django-smart-selects/blob/79589945f3199512322209a8b92ebed3e82a77f7/smart_selects/utils.py#L59

[2020-11-11 10:07] Gigiarum commented on #228
Resolution news?

[2020-11-13 15:17] EdgarsBalodis opened #318 "Forth option field in not working. Not taking any data from db"
### I try to chain four categories with django smart select but it does not work properly. Django does not take or input values from in the last one. clothing_size. It is working properly till clothing sizes. That selectbox is always empty. What could be the problem here? That does not seem like js problem, because other fields are working properly.

`
    from django.db import models
    from sma

[2020-11-18 06:47] wongfl opened #319 "self.fields['category'].empty_label = 'SELECT CATEGORY' <--- works"
I have the same issue. the first empty label has been changed to ' Select Cateogory' from the django default '------' .

But on the second select field (i.e the ChainedForeignKey in the model) , the empty_label is still showing the django default '----'

Please assists !!!

self.fields['category'].empty_label = 'SELECT CATEGORY' <--- works
self.fields['subcategory'].empty_label = 'SELECT CATEGORY'

[2020-11-20 07:32] #318 closed

[2020-11-23 17:54] NorDULaN commented on #166
A simple way to solve this problem:
insert static smart-selects at the end of the base.html
It helped me in the custom admin panel with select2

[2020-11-23 18:01] NorDULaN commented on #319
Check in your models.py foreignkey for the absence of "to-field = yourchoose,".
Smart-selects only works with ID:
/ chaining / filter / app / model / field / field_id / fieldwhereyoucreate / field / yourvalue /
yourvalue = id parent subcategory.
I spent 3 hours to figure it out.
It would be a good practice to add all(part) your models.py code here.

[2021-01-09 17:47] pakibuy2020 commented on #193
Hi Is this issue has been resolved already? I'm using the latest version both django and django-smart-selects

[2021-01-09 18:02] pakibuy2020 opened #321 "Error with add new Inline form - ChainedManyToManyField"
I would like to ask if the issue under this
https://github.com/jazzband/django-smart-selects/issues/193

has been resolved.
I am facing the same exact issue.

At first it was good but adding an additional row in the admin panel dosen't work anymore.
I think it only works based on the number of `extra` from the form

`class EvaluationDisabilityInline(admin.TabularInline):
    model = EvaluationDisa

[2021-02-11 12:53] Klexus1 opened #324 "Django docs don"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2021-02-11 12:55] Klexus1 opened #325 "Django docs don't cover a through-model case"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2021-02-11 12:55] #324 closed

[2021-02-19 08:36] ban990715 opened #326 "When I edit the form again, the contents of the chained appear empty"
When I try django-smart-selects 1.5.9, I can select chained content and save it.But when I edit the form again, the chained content appears empty.The browser request and response reported no errors.

[2021-02-19 08:37] ban990715 commented on #326
Django  version   2.2.18
Python version 3.6.8

[2021-02-19 08:42] ban990715 commented on #326
![微信截图_20210219163908](https://user-images.githubusercontent.com/29855355/108479747-10c4db00-72d1-11eb-9aac-05647c93c1b5.png)
I can edit and save new forms
![微信截图_20210219164048](https://user-images.githubusercontent.com/29855355/108479899-4073e300-72d1-11eb-8a6a-2e95bccdf524.png)
When I open the record detail form again, the contents are empty

[2021-02-20 11:31] guistory opened #327 "how to use django_export_import lib import django_smart_selects chainfileids?"
first show my models:

[code]

when i use django_export_import lib import a baseinfos show me:
`must be  a instance of villages`

help me , my english is very poor,hope you all understand my means.
 thank you much.

[2021-03-18 08:38] skalluri01 opened #329 "how to use smart-selects for a many to many field against a foreign key selection in django admin?"
In the below scenario,  how to display the subcategories of the selected category only in admin site? Chained ForeignKey/ Chained Many to Many doesn't provide such use case..

class Category(models.Model):
       name = models.CharField(max_length=20)

class SubCategory(models.Model):
       name = models.CharField(max_length=20)
       category= models.ForeignKey(Category)

class Course(models.Mo

[2021-03-18 08:43] gamesbook commented on #321
The last comment on #193 was "This should be fixed in version 1.4.0, so I'm closing this. If it's not fixed please reopen it." Sp, you need to do that if you think the fix does not work.

[2021-04-13 03:03] zubus commented on #325
could you solve it?

[2021-04-13 08:24] Klexus1 commented on #325
I did not, I started to use custom templates with jquery ajax requestsinstead

[2021-04-19 20:05] Asocia commented on #221
To reproduce this, you just need to save the model and try to change it again. I have [asked a question](https://stackoverflow.com/questions/67166276/why-django-smart-selects-doesnt-refresh-the-chained-foreign-keys-after-foreign) on StackOverflow. I don't know if it's relevant but I see this error message on the console.

[2021-04-20 08:40] manelclos commented on #221
@Asocia yes please, paste any JS error you get. Are you using the latest version?

[2021-04-20 09:08] Asocia commented on #221
Here is the error message:
[code]
Here is the output of `pip freeze | grep smart`:
[code]

[2021-04-20 09:33] manelclos commented on #221
Great, now if you could only check the "Network" tab when this happens, to see the contents of the response, as it seems there is something wrong there.

[2021-04-20 09:48] Asocia commented on #221
![image](https://user-images.githubusercontent.com/32161460/115375436-77ce1580-a1d6-11eb-85ee-5851e1a8809a.png)
Nothing seems to wrong to me. Can you tell exactly which information you need?

[2021-04-20 09:51] manelclos commented on #221
As per your Stack Overflow description: "... when I change faculty from 1 to 2 dropdown for the programs are not updated ..."

Clean your network tab so you see no requests. Change Faculty from 1 to 2. At this point you should see a request in the network tab. We need to know what the content of this request is.

[2021-04-20 10:01] Asocia commented on #221
The syntax highlighting in the response was broken after some point like this:
![image](https://user-images.githubusercontent.com/32161460/115377221-1444e780-a1d8-11eb-8061-cbde2c91c7c7.png)
I don't know much about JS so I thought it might cause the problem. However, when I copy and format those lines, everything looks normal for me:
[code]

[2021-04-20 10:03] Asocia commented on #221
No request happens when I do this.

[2021-04-20 10:58] manelclos commented on #221
@Asocia after looking at the html you pasted and noticed that you are not using integers for your Primary Keys, which is currently unsupported by smart-selects.

[2021-04-20 11:05] Asocia commented on #221
I got it. It would be nice if this was documented. Anyways, thanks for your time.

[2021-05-07 02:29] nasirsaikh commented on #326
Hi,

Did you find any solution for this, i am too suffering the same problem

[2021-05-13 09:01] charles-co commented on #310
Any update on this yet? currently having the same issue. Are there alternatives, any response will be appreciated. Thanks.

[2021-05-27 14:45] lorenzomorandini opened #331 "Not working if primary key value of related object is 0 (zero)"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2021-10-14 10:33] drakedracosupa commented on #193
Hi! Has this issue been resolved yet? I'm also using the latest versions of both django and django-smart-selects and I'm still facing the same issue.

[2021-10-14 10:54] drakedracosupa opened #334 "Error with add new Inline form - ChainedForeignKey"
Django-smart-selects works fine for pre-existing inline forms created. But when I click on "Add new form" in the inline. The new form doesn't populate the chained field. #193

[2021-10-24 06:35] raftorres opened #336 "ChainedManytoManyField not working with inline forms"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2021-11-30 23:46] admmello opened #338 "It doesn't work when I change the admin path"
when I change the admin URL from
[code]
to
[code]
django-smart-selects stops working. How can I fix this?

[2021-12-17 18:41] DARKDEYMON opened #339 "Actually doesnt support django version 4"
Actually doesnt support django version 4 in pip

[2021-12-24 12:58] luigi370 commented on #339
I got the same problem.. but if you install it from the repo like this (pipenv)

django-smart-selects = {editable = true, ref = "master", git = "https://github.com/jazzband/django-smart-selects.git"}

it works for me.

[2021-12-29 04:05] sdsy888 commented on #339
same problem spotted.

For the self-saving solution, I have to change all the `force_text` to `force_str` like this:

[code]

and all the places using the `url` to this( because the `url` method has been removed in Django4.0):
[code]

[2022-01-05 15:09] Shodiev-Shokhrukh opened #340 "How to use it with pytest and create factories"
You **MUST** use this template when reporting issues. Please make sure you follow the checklist and fill in all of the information sections below.

----------------

All versions of django-smart-selects prior to version 1.2.8 are vulnerable to an XSS attack as detailed in [issue 171](https://github.com/jazzband/django-smart-selects/issues/171#issuecomment-276774103). As a result, all previous vers

[2022-02-24 18:24] xs2hamzashah commented on #339
How to and where to make all those changes

[2022-04-11 00:57] facundopadilla commented on #339
already updated or not?

[2022-04-11 01:43] Audiopolis commented on #339
Not that I can see unless you use custom models. My best options were to either not use Django v4 or not use django-smart-selects. Decided on Django v3.2 for now.

[2022-04-11 02:25] facundopadilla commented on #339
I just did the same thing, downgraded to 3.1 and it works without problems.

[2022-04-23 02:33] pedrohschmidt commented on #221
How did you fix it?

[2022-04-25 12:17] manelclos commented on #221
AFAIK, integer Primary Keys are still required

[2022-06-10 12:39] pareshpandit opened #343 "[idea] : Adding kw/arg 'display_model_col' to ChainedForeignKey et al."
Hello folks!

First of all, thank you all so much for this amazing project - simple does it! :)

From my recent experience (or lack thereof), I felt the need to call a particular column from a model when loading it as a related/dependent dropdown in a form, using ChainedForeignKey.

Basically, if we could have an kw/arg that shall tell dictate that the form rendering use a column named so and so,

[2022-06-10 17:45] pareshpandit commented on #339
**Confirmation / Update & Request**

Indeed faced this. realised that pip seems to pull a really old repo, and the syntaxes therein are super deprecated.

Best advised to download the latest repo from GitHub, and use it instead.
It works just fine with Django 4 & Python 3.10.
[As for me, since I had already pulled the earlier one vide pip, I simply replaced the files, from a local download.]

Can

[2022-06-10 17:52] pareshpandit commented on #338
Hi:
I know this question is now old, but since it was unanswered--there goes nothing :

It is strange, and I can not fathom with my limited knowledge of either of the projects at this point (i.e. your proj, and this git).

However, if it indeed is, as you seem to indicate it to be, I would take a wild guess and say that keeping both paths should resolve it ; kindly try:

`urlpatterns = [
    path(

[2022-06-10 18:53] admmello commented on #338
I found another way to solve this,
I created a view of `path ('', home, name = 'home'),` and inside the home.html I put an empty HTML with a meta to redirect automatically

[code]

[2022-06-13 11:53] #340 closed

[2022-06-14 08:29] bsledev opened #344 "Option for removing already selected values in ChainedForeignKey field"
I would like to have an option for filtering out allready selected values for avoiding duplicate entries.
For example in the test_app you can add a continent with multiple locations (inline) with the first select for country.

## Actual behavior
It is possible to add an endless amount of entries with the same country.

## Expected behavior
The possibility to only allow the selection of one country

[2022-07-13 14:36] iserranoe commented on #339
Where should I include this code?

[2022-07-13 14:36] iserranoe commented on #339
Where should I include this code?

[2022-08-16 17:41] kfirufk commented on #339
works amazing with django 4.1
for urls do this:

[code]

[2022-08-25 11:38] chiseledCoder commented on #159
@kaushal235's example can also be extended to ChainedForeignKey field. I had to chain through a foreign key which had M2M association with `through` model. I could easily filter the distinct choices with little tweak in his suggested snippet.

[2022-09-24 13:25] faivala-de commented on #331
Has anybody found a solution for this?
My forms are working properly for all entries were the primary key value of related object is > 0, but 0 nothing shows... Thanks

[2022-10-30 00:09] diego1996 commented on #258
Buenas!, esto me sigue pasando incluso usando la ultima version :c

[2022-10-30 00:15] diego1996 commented on #184
Yo al dia de hoy sigo con el mismo problema :c

[2022-11-01 09:02] dogzillaa opened #345 "Django smart selects doesn't work with JS cloning"
I'm trying to create a page with ability to add any amount of form-copy. I use django-smart-selects to make my form's field chained. It works fine if I have only 1 form on page.

Then I'm using javascript to make a function to clone form instance by pressing button and addind new form's ids to these clones.

## Actual behavior

The problem is when I press "+" button I get new cloned form on page,

[2022-11-16 17:47] jonimke commented on #338
Hey @pareshpandit,
I had the same problem and was able to solve it by just changing the order in my urlpattern.

[code]

[2022-11-26 22:19] YDA93 opened #346 "Inaccurate results when using reverse relationship look up in `chained_model_field`."
## Checklist
- [X] This issue is not about installing previous versions of django-smart-selects older than 1.2.8. I understand that previous versions are insecure and will not receive any support whatsoever.
- [ ] I have verified that that issue exists against the `master` branch of django-smart-selects.
- [X] I have searched for similar issues in both open and closed tickets and cannot find a dup